@import "../../styles/styles.scss";

.info-toggler {
        position: fixed;
        bottom: 0; right: 0;
        padding: 0 $buffer*4;
        height: $navHeight;
        display: flex;
        align-items: center;
        font-family: $secondaryFont;
        color: $mediumFontColor;
        z-index: $zIndex3;
        @include breakpoint(xs) {
            line-height: $lineHeightParagraph;
        }
        &:hover {
            cursor: pointer;
        }
    }
.slideshow {
    font-family: $secondaryFont;
    &.info-is-visible {
        .next-arrow {
            display: none !important;
        }
        .prev-arrow {
            display: none !important;
        }
    }
    @include breakpoint(xs) {
        height: 100%;
    }
    .slick-slider {
        @include breakpoint(xs) {
            height: 100%;
        }
        .slick-list {
            @include breakpoint(xs) {
                height: 100%;
            }
            .slick-track {
                @include breakpoint(xs) {
                    height: 100%;
                }
            }
        }
    }
    .slide-wrapper {
        height: calc(100vh - #{$navHeight} - #{$buffer*1.5});
        @include breakpoint(xs) {
            height: 100%;
        }
        // background: red;
        outline: none;
        width: 100%;
        .slide-section {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            &.section-info {
                position: absolute;
                top: 0;
                padding-top: $buffer*2;
                padding-bottom: $lineHeightParagraph*4;
                line-height: $lineHeightParagraph;
                overflow-y: scroll;
                z-index: $zIndex3;
                &::-webkit-scrollbar {
                    display: none;
                  }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                    }
                    &.credits {
                        li {
                            color: $mediumFontColor;
                        }
                    }
                }
            }//section-info
            &.section-image {
                .image-block {
                    height: 100%;
                    width: 100%;
                    .block-item {
                        width: 100%;
                        max-height: calc(100vh - #{$navHeight*2});
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        &.image-item {
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            @include breakpoint(md) {
                                background-size: contain;
                            }
                        }
                    }
                }//image-block
            }//section-image
            &.section-caption {
                position: absolute;
                top: auto;
                bottom: 0;
                display: flex;
                align-items: center;
                height: $navHeight;
                @include breakpoint(xs) {
                    bottom: $buffer*4;
                    align-items: flex-end;
                }
                .caption-wrapper {
                    .caption-item {
                        &.caption-count {
                            @include breakpoint(xs) {
                                margin-bottom: $lineHeightParagraph;
                            }
                        }
                        &.caption-description {
                            text-align: center;
                        }
                        span {
                            width: 100%;
                            @include breakpoint(xs) {
                                line-height: $lineHeightParagraph;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }//slide-wrapper
    .prev-arrow {
        position: absolute;
        top: 0;
        display: flex;
        width: 50%;
        height: calc(100% - #{$buffer*8});
        z-index: 1;
        left: 0;
        &:hover {
            cursor: url('../../assets/icons/arrow-left.svg') 50 30, e-resize;
        }
        &::before {
            display: none;
        }
    }
    .next-arrow {
        position: absolute;
        top: 0;
        display: flex;
        width: 50%;
        height: calc(100% - #{$buffer*8});
        z-index: 1;
        right: 0;
        &:hover {
            cursor: url('../../assets/icons/arrow-right.svg') 50 30, e-resize;
        }
        &::before {
            display: none;
        }
    }
}//slideshow
