@import "../../styles/styles.scss";

.slideshow {
    font-family: $secondaryFont;
    &.info-is-visible {
        .next-arrow {
            display: none !important;
        }
        .prev-arrow {
            display: none !important;
        }
    }
    .slide-item {
        height: calc(100vh - #{$navHeight} - #{$buffer*5});
        outline: none;
        width: 100%;
        .image-block {
            height: 100%;
            width: 100%;
            .block-item {
                    width: 100%;
                    max-height: calc(100% - #{$buffer*8});
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                &.image-item {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &.info-item {
                    .info-container {
                        width: 100%;
                        height: 100%;
                        line-height: $lineHeightParagraph;
                        ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            li {
                            }
                        }
                    }
                }
            }
        }
        .slide-item-caption {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: white;
            padding: $buffer*4 0 0 0;
            @include transition;
            .project-desc {
                text-align: center;
            }
            .info-toggler {
                color: $mediumFontColor;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .prev-arrow {
        position: absolute;
        top: 0;
        display: flex;
        width: 50%;
        height: calc(100% - #{$buffer*8});
        // background: red;
        // opacity: .25;
        z-index: 1;
        left: 0;
        &:hover {
            cursor: url('../../assets/icons/arrow-left.svg') 50 30, e-resize;
        }
        &::before {
            display: none;
        }
    }
    .next-arrow {
        position: absolute;
        top: 0;
        display: flex;
        width: 50%;
        height: calc(100% - #{$buffer*8});
        // background: blue;
        // opacity: .25;
        z-index: 1;
        right: 0;
        &:hover {
            cursor: url('../../assets/icons/arrow-right.svg') 50 30, e-resize;
        }
        &::before {
            display: none;
        }
    }
}//slideshow