@import "../../styles/styles.scss";

.about {
  font-size: $fontSizeParagraph;
  line-height: $lineHeightParagraph;
  color: $darkFontColor;
  @include breakpoint(xs) {
    padding-top: $lineHeightParagraph*2;
  }
  .description {
    font-family: $secondaryFont;
    .header {
      &:first-child {
        margin-top: 0;
      }
      margin: $lineHeightParagraph*3 0 $lineHeightParagraph 0;
    }
    p {
      margin-top: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: $mediumFontColor;
      margin-bottom: $lineHeightParagraph*3;
      li {
        padding-left: $lineHeightParagraph;
        text-indent:-$lineHeightParagraph;
      }
    }
  }
}//homepage
