@import '/variables.scss';

@mixin transitionRegular {
  transition: $transitionRegular;
}
@mixin transition {
  transition: $transitionCubic;
  // transition: all 1s linear;
}
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 599px) { @content; }
  }
  @else if $class == sm {
    @media (max-width: 959px) { @content; }
  }
  @else if $class == md {
    @media (max-width: 960px) { @content; }
  }
  @else if $class == lg {
    @media (max-width: 1279px) { @content; }
  }
  @else if $class == xl {
    @media (max-width: 1920px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin animation($duration, $easing, $delay, $animation) {
  animation: $duration $easing $delay 1 $animation forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY($buffer*2);
    -webkit-transform: translateY($buffer*2);
    -moz-transform: translateY($buffer*2);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
