@import "../../styles/styles.scss";

.contact {
  font-size: $fontSizeParagraph;
  line-height: $lineHeightParagraph;
  color: $darkFontColor;
  padding-top: $buffer*2;
  .description {
    font-family: $secondaryFont;
    .header {
      &:first-child {
        margin-top: 0;
      }
      margin: $lineHeightParagraph*3 0 $lineHeightParagraph 0;
    }
    p {
      margin-top: 0;
      &.light {
        color: $mediumFontColor;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: $mediumFontColor;
      margin-bottom: $lineHeightParagraph;
      &:last-child {
        margin-bottom: 0;
      }
      li {
        padding-left: $lineHeightParagraph*3;
        text-indent:-$lineHeightParagraph*3;
      }
    }
  }
}//homepage
