@import "../../styles/styles.scss";

.nav-container {
  .nav-contents {
    padding: $buffer*4 $buffer*4 0 $buffer*4;
    font-size: $fontSizeParagraph;
    line-height: $lineHeightParagraph;
    opacity: 0;
    @include animation($timing, $easingRegular, $delay1, fadeIn);
    .logotype {
    }
    .nav-items {
      ul {
        list-style-type: none;
        padding: 0; margin: 0;
        font-family: $secondaryFont;
        li {
          display: inline-block;
          padding-left: $buffer*4;
          &:first-child {
            padding-left: 0;
          }
          .page-link {
          color: $mediumFontColor;
          &.page-link-active {
            color: $darkFontColor;
          }
          }
        }
      }
    }
  }
}//nav-container
