@import "../../styles/styles.scss";

.nav-container {
  .nav-contents {
    padding: 0 $buffer*4;
    height: $navHeight;
    opacity: 0;
    @include animation($timing, $easingRegular, $delay1, fadeIn);
    // @include breakpoint(xs) {
    //   height: auto;
    //   padding: $buffer*4;
    // }
    .logotype {
    }
    .nav-items {
      // @include breakpoint(xs) {
      //   margin-top: $lineHeightParagraph;
      // }
      ul {
        list-style-type: none;
        padding: 0; margin: 0;
        font-family: $secondaryFont;
        li {
          display: inline-block;
          padding-left: $buffer*4;
          &:first-child {
            padding-left: 0;
          }
          .page-link {
          color: $mediumFontColor;
          &.page-link-active {
            color: $darkFontColor;
          }
          }
        }
      }
    }
  }
}//nav-container
